@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/muli.woff2') format('woff2');
}

:root {
	--bg-light: rgb(255, 255, 255);
	--fg-light: rgb(42, 69, 151);
	--fg-light-disabled: rgb(163, 171, 195);
	--bg-medium: rgb(101, 130, 214);
	--fg-medium: rgb(197, 203, 221);
	--bg-dark: rgb(42, 69, 151);
	--fg-dark: rgb(197, 203, 221);
}

body {
	margin: 0;
	min-height: 100vh;
	background: var(--bg-light);
	color: var(--fg-light);
	font-family: 'Muli', sans-serif;
}

.App {
	display: grid;
	grid-template-rows: 2rem 1fr;
	grid-template-areas: "header" "page";
	height: 100%;
}

.App #header {
	grid-area: header;
	background: var(--bg-dark);
	color: var(--fg-dark);
}

.App #title {
	padding-left: 0.25rem;
	font-size: 1.5rem;
	cursor: pointer;
}

.App #message {
	position: absolute;
	right: 0;
	padding-right: 0.25rem;
	font-size: 1.5rem;
	text-align: center;
	background: var(--bg-dark);
	color: var(--fg-dark);
	overflow: hidden;
}

.App #message:empty {
	height: 0rem;
}

.App #notice {
	font-size: 1.5rem;
	text-align: center;
	margin: 2rem;
}

.App #page {
	position: relative;
	grid-area: page;
	width: calc(100% - 2rem);
	max-width: 50rem;
	margin: 1rem auto 0 auto;
}

.App #page.fadeOut {
	opacity: 0;
	transition: opacity .125s;
}

.App #page.fadeIn {
	opacity: 1;
	transition: opacity .125s;
}

h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	height: 2rem;
	line-height: 2rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

button {
	border: 0;
	border-radius: .25rem;
	padding: .25rem;
	background: var(--bg-dark);
	color: var(--fg-dark);
	font-size: inherit;
	font-family: inherit;
	text-align: center;
	cursor: pointer;
	height: 1.75rem;
}

button svg {
	width: 1rem;
	height: 1rem;
	fill: var(--fg-dark);
}

form {
	margin: 0 auto;
}

form .left, form .right {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 1rem;
}

form .left {
	text-align: right;
	margin-right: .5rem;
	width: calc(50% - .5rem);
}

form .right {
	text-align: left;
	margin-left: .5rem;
}

@media (max-width: 30rem) {
	form .left {
		display: block;
		text-align: left;
		margin-right: 0;
		width: 100%;
		margin-bottom: .25rem;
	}
	form .right {
		display: block;
		text-align: left;
		margin-left: 0;
		width: 100%;
	}
}

form .submit {
	width: 100%;
	margin-bottom: 1rem;
}

input[type="text"], input[type="password"], select {
	font-size: inherit;
	font-family: inherit;
	background: var(--bg-light);
	color: var(--fg-light);
	border: 1px solid var(--fg-light);
	height: 1.5rem;
	padding: 0 .125rem;
	max-width: 100%;
}
