@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('assets/fonts/muli.woff2') format('woff2');
}

:root {
	--color1-dark: hsl(337, 73%, 35%);
	--color1-light: hsl(337, 73%, 90%);
	--color2-dark: hsl(33, 63%, 10%);
	--color2-light: hsl(33, 63%, 71%);
	--color3-dark: hsl(30, 96%, 30%);
	--color3-light: hsl(30, 96%, 90%);
	font-family: 'Muli', sans-serif;
	line-height: 1.25em;
}

* {
	margin: 0;
	padding: 0;
}

/** .FinancioApp */

.FinancioApp {
	margin: 0;
	height: 100dvh;
	display: grid;
	grid-template-rows: 1.5rem 1fr 1.5rem;
	grid-template-columns: 1fr;
	grid-template-areas: 'header' 'page' 'message';
	background: var(--color1-light);
	color: var(--color1-dark);
}
.FinancioApp.logged-in {
	grid-template-columns: 7.5rem 1fr;
	grid-template-areas: 'header header' 'nav page' 'message message';
}
@media (max-width: 35rem) {
	.FinancioApp.logged-in {
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'page' 'message';
	}
}

/** Printing */

@page {
	margin: 1in;
}
@media only print {
	:root {
		font-size: 16px;
	}
	.FinancioApp {
		position: static;
		display: block;
	}
	.FinancioApp > .header {
		display: none;
	}
	.FinancioApp > .toolbar {
		display: none;
	}
}

/** Header */

.FinancioApp > .header {
	grid-area: header;
	background: var(--color1-dark);
	color: var(--color1-light);
}
@media (max-width: 35rem) {
	.FinancioApp.logged-in > .header {
		display: grid;
		grid-template-columns: 1fr 1.5rem;
	}
}
.FinancioApp > .header > .title {
	padding: .25rem;
	line-height: 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.FinancioApp > .header > .nav-button {
	display: none;
	margin: .125rem;
	width: 1.25rem;
	height: 1.25rem;
	padding: .125rem;
	color: var(--color1-light);
}
@media (max-width: 35rem) {
	.FinancioApp.logged-in .header .nav-button {
		display: block;
	}
}

/** Nav */

.FinancioApp > .nav {
	display: none;
	padding: .25rem;
	border-right: .125rem solid var(--color1-dark);
}
.FinancioApp.logged-in > .nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
@media (max-width: 35rem) {
	.FinancioApp.logged-in > .nav {
		grid-area: nav;
		display: none;
		position: absolute;
		border-left: .125rem solid var(--color1-dark);
		border-bottom: .125rem solid var(--color1-dark);
		border-right: 0;
		border-bottom-left-radius: .25rem;
		top: 1.5rem;
		right: 0;
		z-index: 1;
		background: var(--color1-light);
	}
	.FinancioApp.logged-in > .nav.on {
		display: flex;
	}
}
.FinancioApp > .nav li {
	text-align: right;
}

/** Message */

.FinancioApp > .message {
	grid-area: message;
	background: var(--color1-dark);
	color: var(--color1-light);
	padding: .25rem;
}

/** Page */

.FinancioApp > .FinancioPage {
	grid-area: page;
	height: 100%;
	overflow: auto;
	padding: .25rem;
}

/** Popup */

.FinancioApp > .overlays > .Popup > .window {
	border-radius: .5rem;
	background: var(--color1-light);
	color: var(--color1-dark);
	padding: .5rem;
}

/** Generic styles. */

.Icon {
	width: 1rem;
	height: 1rem;
}
.hidden {
	position: absolute !important;
	opacity: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
	padding: 0 !important;
}
.disabled {
	opacity: 50%;
	cursor: not-allowed;
	pointer-events: none;
}
.overlay {
	box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.25);
}

/** Basic block elements. */

.Page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
section {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	border: .0625rem solid var(--color1-dark);
	border-radius: .25rem;
	padding: .25rem;
}
h1 {
	border-bottom: 1px solid currentColor;
	line-height: calc(1.75rem - 1px);
	font-size: 1.5rem;
	font-weight: normal;
}
h2 {
	line-height: 1.6rem;
	font-size: 1.35rem;
	font-weight: normal;
}
h3 {
	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: normal;
}
p {
	line-height: 1.25rem;
	font-size: 1rem;
}
ul, ol {
	list-style-type: none;
}
ul, ol, li:has(:is(ul, ol)) {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}
li > :is(ul, ol) {
	margin-inline-start: 1rem;
}

/** Article settings. */

article :is(h1, h2, h3, p, ul, ol) + :is(h1, h2, h3, p, ul, ol) {
	margin-block-start: .5rem;
}
article :is(ul, ol) {
	list-style-type: revert;
	padding-inline-start: 1.5rem;
}

/** Links and Buttons */

a {
	border: 0;
	background: transparent;
	fill: blue;
	stroke: blue;
	color: blue;
	text-decoration: none;
}
a:focus {
	text-decoration: underline;
	outline: none;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
a.icon {
	height: 1rem;
}

/* hr {
	border: 1px solid var(--color1-dark);
	line-height: 1.25rem;
	margin: calc(1.125rem - 1px) 0 calc(1.125rem - 1px) 0;
} */

/* .Icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
} */

/** Tables */

/* .table {
	display: flex;
	flex-direction: column;
}
.table > .row {
	margin-bottom: 0;
	width: 100%;
	display: grid;
	align-items: flex-end;
}
.table > .row:not(:first-child) {
	border-top: 0;
}
.table > .row > .cell {
	padding: .25rem;
} */

/** Forms and Inputs */

.FormEasy > .entries {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.input, .button {
	display: inline-block;
	border: 0;
	border-radius: .25rem;
	background: var(--color1-dark);
	color: var(--color1-light);
	padding: .125rem .25rem;
	font-size: inherit;
	font-family: inherit;
	letter-spacing: inherit;
}
.button {
	cursor: pointer;
}
.button.icon {
	width: 1.5rem;
	height: 1.5rem;
}
.button.icon svg {
	width: 100%;
	height: 100%;
}
:is(.input, .button):is(:focus, .focus) {
	outline: .25rem double var(--color1-dark);
}
:is(.FormSelectDropDown, .FormMultiSelectDropDown) {
	display: flex;
	flex-direction: column;
	gap: .25rem;
	max-height: 25dvh;
	padding: .25rem;
	background: var(--color1-dark);
	color: var(--color1-light);
}
:is(.FormSelectDropDown, .FormMultiSelectDropDown) > * {
	flex: 0 0 auto;
	border-radius: .25rem;
	padding: .25rem;
	background: var(--color1-dark);
	line-height: 1rem;
}
:is(.FormSelectDropDown, .FormMultiSelectDropDown) > *.selected {
	filter: brightness(120%);
}
:is(.FormSelectDropDown, .FormMultiSelectDropDown) > *[value]:hover {
	filter: brightness(130%);
}
