<div class="header">
	<div class="title">Financio<span class="page-title"></span></div>
	<button class="nav-button button icon-button dark" onclick="toggleNav"><icon src="assets/icons/menu.svg" alt="menu"></icon></button>
</div>
<div class="nav">
	<ul class="needsProject hidden">
		<li><a href="#">Dashboard</a></li>
		<li><a href="#page=accountList">Accounts</a></li>
		<li><a href="#page=categoryList">Categories</a></li>
		<li><a href="#page=unitList">Units</a></li>
		<li><a href="#page=fundList">Funds</a></li>
		<li><a href="#page=ruleList">Rules</a></li>
		<li><a href="#page=budgetList">Budgets</a></li>
		<li><a href="#page=reportList">Reports</a></li>
	</ul>
	<ul>
		<li><a href="#page=projectList">Projects</a></li>
		<li><a href="#page=userSettings">User Settings</a></li>
		<li><a class="logout" href="javascript:;" onclick="logout">Logout</a></li>
	</ul>
	<ul class="needsAdmin hidden">
		<li><a href="#page=admin">Admin</a></li>
	</ul>
</div>
<div class="message"></div>
