<div>
	<div class="links">
		<p><a href="javascript:;" onclick="openEditPopup">Edit</a></p>
		<p><a href="javascript:;" onclick="openDeletePopup">Delete</a></p>
		<p><a class="import" href="#page=transactionsImport">Import Transactions</a></p>
	</div>
	<TransactionList editable accountView>
	</TransactionList>
</div>
