.ListPage > .content {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.ListPage > .content .edit {
	display: flex;
	flex-direction: row;
	gap: .25rem;
}
.ListPage > .content .entry {
	display: flex;
	flex-direction: row;
	gap: .25rem;
}
.ListPage > .content .group > .entry > .name {
	font-weight: bold;
}
.ListPage > .content .Icon {
	margin: .125rem;
}
