<div>
	<ul class="links">
		<li><a href="javascript:;" onclick="openItemCreatePopup">Create New <span class="type"></span></a></li>
		<li><a href="javascript:;" onclick="openGroupCreatePopup">Create New Group</a></li>
		<li><a href="javascript:;" onclick="toggleEdit">Edit Groups and Order</a></li>
	</ul>
	<article class="editInstructions hidden">
		<p>You may drag around any <span class="type"></span> or group. If a group is sorted, you may only insert it at its sorted place.</p>
		<p>You may also edit or delete any <span class="type"></span> or group. Note that if a group is not empty, you may not delete it.</p>
	</article>
	<div class="content">
	</div>
</div>
