<div>
	<h3>Please Login</h3>
	<FormEasy onSubmitted="login" submitText="Login">
		<FormEntry name="username" label="Username">
			<FormInput></FormInput>
		</FormEntry>
		<FormEntry name="password" label="Password">
			<FormInput type="password"></FormInput>
		</FormEntry>
	</FormEasy>
</div>
