<div>
	<section class="displayName">
		<h3>Change Your Display Name</h3>
		<FormEasy onSubmitted="changeDisplayName" submitText="Apply">
			<FormEntry name="displayName" label="Display Name">
				<FormInput></FormInput>
			</FormEntry>
		</FormEasy>
	</section>
	<section>
		<h3>Change Your Password</h3>
		<FormEasy onSubmitted="changePassword" submitText="Apply">
			<FormEntry name="oldPassword" label="Old Password">
				<FormInput type="password"></FormInput>
			</FormEntry>
			<FormEntry name="newPassword" label="New Password">
				<FormInput type="password"></FormInput>
			</FormEntry>
		</FormEasy>
	</section>
	<section>
		<h3>Delete Yourself</h3>
		<FormEasy onSubmitted="deleteUser" submitText="Delete User">
			<p>NOTE: ALL INFORMATION WILL BE PERMANENTLY DELETED!</p>
			<FormEntry name="username" label="Username">
				<FormInput></FormInput>
			</FormEntry>
			<FormEntry name="password" label="Password">
				<FormInput type="password"></FormInput>
			</FormEntry>
			<FormEntry name="verify" label="Type DELETE">
				<FormInput></FormInput>
			</FormEntry>
		</FormEasy>
	</section>
</div>
