.UserSettingsPage .FormEntry.username,
.UserSettingsPage .FormEntry.password,
.UserSettingsPage .FormEntry.oldPassword,
.UserSettingsPage .FormEntry.newPassword,
.UserSettingsPage .FormEntry.verify {
	width: 8rem;
}
.UserSettingsPage .FormEntry.displayName {
	width: 16rem;
}
