@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	box-sizing: border-box;
}

:root {
	--bg-light: rgb(255, 255, 255);
	--fg-light: rgb(42, 69, 151);
	--bg-medium: rgb(101, 130, 214);
	--fg-medium: rgb(197, 203, 221);
	--bg-dark: rgb(42, 69, 151);
	--fg-dark: rgb(197, 203, 221);
}

body {
	background: var(--bg-light);
	color: var(--fg-light);
	font-family: Muli, sans-serif;
}

@media (max-width: 60em) {
}

/* Text Formatting */

h1 {
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: bold;
}

h2 {
	font-size: 1em;
	line-height: 1em;
	margin-top: .25em;
	margin-bottom: .25em;
}

/* Forms and Buttons */

.vertical-align {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

form {
	margin: 0 auto;
	max-width: 20em;
}

form label {
	display: block;
	line-height: 2em;
	height: 2em;
}

form input[type=text], select {
	display: block;
	width: 100%;
}

button, input[type=submit] {
	border: 0;
	border-radius: .125em;
	padding: .25em;
	background: var(--bg-dark);
	color: var(--fg-dark);
	text-align: center;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.5em;
	cursor: pointer;
}

.toolbar {
	border-top: 1px solid var(--fg-light);
}

.toolbar button {
	display: inline-block;
	margin: 0 .25em;
	width: 2em;
	height: 2em;
	text-align: center;
}

.menu button, input[type=submit] {
	display: block;
	margin: 0 auto 1em auto;
	width: 100%;
	max-width: 20em;
}

input, select {
	background: var(--bg-dark);
	color: var(--fg-dark);
	max-width: 20em;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.5em;
	height: 2em;
	padding: .25em;
	border: 0;
	border-radius: .125em;
	margin-bottom: 1em;	
}

.hidden {
	display: none;
}

