@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	box-sizing: border-box;
}

:root {
	--bg-light: rgb(255, 255, 255);
	--fg-light: rgb(42, 69, 151);
	--bg-dark: rgb(42, 69, 151);
	--fg-dark: rgb(197, 203, 221);
}

body {
	margin: 0;
	width: 100vw;
	height: 100%;
	overflow-y: hidden;
	display: grid;
	grid-template-columns: 15em auto 15em;
	grid-template-rows: 2em calc(100% - 4em) 2em;
	grid-template-areas:
		"header header header"
		"ltoolbar main rtoolbar"
		"footer footer footer";
	background: var(--bg-light);
	color: var(--fg-light);
	font-family: Muli, sans-serif;
}

@media (max-width: 60em) {
	body {
		grid-template-columns: 0em 100% 0em;
	}
}

.page_title {
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: 2em;
}

/* Forms and Buttons */

.vertical-align {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

form {
	margin: 0 auto;
	max-width: 20em;
}

form label {
	display: block;
	line-height: 2em;
	height: 2em;
	margin-bottom: .5em;
}

form input[type=text], select {
	display: block;
	width: 100%;
}

.button, input[type=submit] {
	display: block;
	margin: 0 auto 1em auto;
	width: 100%;
	max-width: 20em;
	border: 0;
	border-radius: .125em;
	padding: .25em;
	cursor: pointer;
	background: var(--bg-dark);
	color: var(--fg-dark);
	text-align: center;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.5em;
}

input, select {
	background: var(--bg-dark);
	color: var(--fg-dark);
	max-width: 20em;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.5em;
	height: 2em;
	padding: .25em;
	border: 0;
	border-radius: .125em;
	margin-bottom: 1em;	
}

.hidden {
	display: none;
}

