.ImportTransactions > #step1, .ImportTransactions > #step2, .ImportTransactions #step3 {
	display: none;
}

.ImportTransactions #importBox {
	width: 16rem;
	max-width: 100%;
	height: 8rem;
	border: 1px dashed var(--fg-light);
	text-align: center;
	line-height: 8rem;
}
