.Categories .category {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.Categories .grabber {
	width: 1.75rem;
	margin-right: .5rem;
}

.Categories li {
	margin-left: 0;
}

.Categories ul, li {
	list-style-type: none;
	margin: .5rem 0;
}
