.BatchChangePopup .window {
	width: 31rem;
}
.BatchChangePopup .edit .FormEasy .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.BatchChangePopup .delete .FormEasy .buttons {
	display: grid;
	grid-template-columns: 1fr;
}
.BatchChangePopup .FormEasy .cancel {
	text-align: left;
}
.BatchChangePopup .FormEasy .submit {
	text-align: right;
}
.BatchChangePopup .FormEntry {
	grid-template-columns: 12rem 1fr;
}
.BatchChangePopup [name="reveiwed"],
.BatchChangePopup [name="verify"] {
	width: 8rem;
	max-width: 100%;
}
