.Calendar {
	width: 14rem;
	border-radius: .5rem;
	display: grid;
	grid-template-rows: repeat(9, 2rem);
	grid-template-columns: repeat(7, 2rem);
	background: var(--color1-dark);
	color: var(--color1-light);
	cursor: default;
}
.Calendar .year_current {
	grid-column-start: 3;
	grid-column-end: 6;
}
.Calendar .month_current {
	grid-column-start: 2;
	grid-column-end: 7;
}
.Calendar > div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	line-height: 1.5rem;
}
.Calendar svg {
	height: 1.5rem;
}
.Calendar .clickable {
	cursor: pointer;
}
.Calendar .clickable:hover {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 2rem;
}
.Calendar .clickable:hover svg {
	height: 2rem;
}
.Calendar .clickable:hover svg polyline {
	stroke-width: 4;
}
.Calendar .week {
	border-bottom: 1px solid currentColor;
}
.Calendar .anotherMonth {
	filter: brightness(50%);
}
.Calendar .selected {
	border: .125rem solid var(--color1-light);
}
.Calendar .selected.first {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.Calendar .selected.last {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
