.DateChooser > div > span#date {
	display: inline-block;
	border: 1px solid var(--fg-light);
	border-radius: 0.25rem;
}

.DateChooser > div > span#date > #year {
	max-width: 3rem;
	border: 0;
	text-align: center;
	background: none;
}

.DateChooser > div > span#date > #month {
	max-width: 2rem;
	border: 0;
	text-align: center;
	background: none;
}

.DateChooser > div > span#date > #day {
	max-width: 2rem;
	border: 0;
	text-align: center;
	background: none;
}
