<span>
	<input class="input date" placeholder="YYYY-MM-DD" maxlength=10 title="Please use the format YYYY-MM-DD" pattern="\\d\\d\\d\\d-\\d\\d-\\d\\d" onkeydown="_onDateInputKeyDown" oninput="_onDateInputInput"/>
	<button type="button" class="icon button" onclick="_toggleCalendar"><icon src="assets/icons/calendar.svg" alt="calendar" /></button>
</span>
