<FormEasy onCanceled="onCanceled" onSubmitted="onSubmitted" submitText="Delete">
	<h1>Delete the <span class="type"></span> <span class="name"></span></h1>
	<div>NOTE: THE DATA WILL BE PERMANENTLY DELETED!</div>
	<FormEntry name="name" label="Name">
		<FormInput></FormInput>
	</FormEntry>
	<FormEntry name="verify" label="Type DELETE">
		<FormInput></FormInput>
	</FormEntry>
</FormEasy>
