<h1>Join Transactions</h1>
<FormEasy onCanceled="onFormCanceled" onSubmitted="onFormSubmitted" submitText="Join">
	<p>Choose the transaction to merge into this one.</p>
	<TransactionList onUpdated="onTransactionsUpdated"></TransactionList>
</FormEasy>
