.JoinPopup .window {
	width: 56rem;
}
.JoinPopup .FormEasy .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.JoinPopup .FormEasy .cancel {
	text-align: left;
}
.JoinPopup .FormEasy .submit {
	text-align: right;
}
