.ProjectEditPopup .window {
	max-width: 32rem;
}
.ProjectEditPopup .FormEntry.defaultUnitName .inputArea,
.ProjectEditPopup .FormEntry.defaultUnitId .inputArea {
	max-width: 8rem;
}
.ProjectEditPopup .FormEntry.roles .inputArea {
	max-width: 24.5rem;
}
.ProjectEditPopup .FormEntry.roles .FormList .content {
	display: flex;
	flex-direction: row;
	gap: .25rem;
}
.ProjectEditPopup .FormEntry.roles .UserChooser:has([name="roles[+].username"]) {
	flex: 0 1 16rem;
}
.ProjectEditPopup .FormSelect:has([name="roles[].role"]) {
	flex: 0 0 6.5rem;
}
