.ReportEditPopup .window {
	width: 31rem;
}
.ReportEditPopup .FormEasy .RelativeDateChooser .custom > .FormEntry {
	grid-template-columns: 6rem 1fr;
}
.ReportEditPopup :is(.categoryIds, .accountIds) {
	width: 16rem;
}
