.SplitPopup .window {
	width: 30rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.SplitPopup .row {
	display: flex;
	flex-direction: row;
	gap: .25rem;
}
.SplitPopup .row:is(.header, .total) {
	width: calc(100% - 1.75rem);
}
.SplitPopup .row > .first {
	flex: 1 1 auto;
}
.SplitPopup .row > :is(.from, .to) {
	text-align: right;
	flex: 0 0 auto;
	width: 8.25rem;
}
.SplitPopup .row > :is(.from, .to) input {
	text-align: right;
}
