.TransactionView {
	container-type: inline-size;
}
.TransactionView .container {
	display: grid;
	width: fit-content;
	grid-template-rows: 1.5rem 1.5rem 1px 1.5rem;
	grid-template-areas:
		"dateFrom   accountFrom arrow       dateTo      accountTo   buttons"
		"amountFrom unitFrom    arrow       amountTo    unitTo      buttons"
		"borderH    borderH     borderH     borderH     borderH     borderH"
		"reviewed   category    description description description description"
		".          .           note        note        note        note";
	border-radius: .25rem;
	border: .125rem solid var(--color1-dark);
	color: var(--color1-dark);
	padding: .25rem;
	gap: .25rem;
}
.TransactionView .container:has(.note:empty) {
	grid-template-areas:
		"dateFrom   accountFrom arrow       dateTo      accountTo   buttons"
		"amountFrom unitFrom    arrow       amountTo    unitTo      buttons"
		"borderH    borderH     borderH     borderH     borderH     borderH"
		"reviewed   category    description description description description";
}
.TransactionView .container .borderH {
	grid-area: borderH;
	width: 100%;
	height: 1px;
	background-color: currentColor;
}
.TransactionView .container > * {
	width: 100%;
	height: 100%;
	line-height: 1.5rem;
}
.TransactionView:not(.edit) > .container > :is(.description, .note, .accountFrom, .accountTo, .category) {
	overflow-x: auto;
	white-space: nowrap;
}
.TransactionView.edit .container > * > * {
	width: 100%;
}
.TransactionView.clickable .container > * {
	pointer-events: none;
}
.TransactionView.selected .container {
	outline: .25rem double currentColor;
}
.TransactionView .arrowR {
	grid-area: arrow;
	width: 1rem;
	height: 3.25rem;
	display: block;
}
.TransactionView .arrowD {
	grid-area: arrow;
	width: 3.25rem;
	height: 1rem;
	display: none;
	justify-self: center;
}
.TransactionView :is(.arrowR, .arrowD) svg {
	display: block;
	width: 100%;
	height: 100%;
}
.TransactionView .dateFrom {
	grid-area: dateFrom;
	width: 8.25rem;
	text-align: right;
}
.TransactionView .dateTo {
	grid-area: dateTo;
	width: 8.25rem;
	text-align: right;
}
.TransactionView .amountFrom {
	grid-area: amountFrom;
	width: 8.25rem;
	text-align: right;
}
.TransactionView .amountTo {
	grid-area: amountTo;
	width: 8.25rem;
	text-align: right;
}
.TransactionView.edit :is(.amountFrom, .amountTo) input {
	text-align: right;
}
.TransactionView .unitFrom {
	grid-area: unitFrom;
	min-width: 7rem;
}
.TransactionView .unitTo {
	grid-area: unitTo;
	min-width: 7rem;
}
.TransactionView .accountFrom {
	grid-area: accountFrom;
	width: 10rem;
}
.TransactionView .accountTo {
	grid-area: accountTo;
	width: 10rem;
}
.TransactionView .category {
	grid-area: category;
	width: 10rem;
}
.TransactionView .description {
	grid-area: description;
	width: 23.25rem;
}
.TransactionView .reviewed {
	grid-area: reviewed;
	text-align: right;
}
.TransactionView .note {
	grid-area: note;
}
.TransactionView .note:empty {
	display: none;
}
.TransactionView .buttons {
	grid-area: buttons;
	width: 1.5rem;
	height: 100%;
	justify-self: right;
	display: grid;
	overflow-x: visible;
	grid-template-columns: 1.5rem;
	grid-template-rows: 1.5rem 1.5rem;
	gap: .25rem;
}
.ButtonsDropDown button {
	display: block;
}
@container (max-width: 42.75rem) {
	.TransactionView .container {
		grid-template-rows: 1.5rem 1.5rem 1rem 1.5rem 1.5rem 1px 1.5rem 1.5rem;
		grid-template-areas:
			"dateFrom    accountFrom buttons"
			"amountFrom  unitFrom    buttons"
			"arrow       arrow       buttons"
			"dateTo      accountTo   buttons"
			"amountTo    unitTo      buttons"
			"borderH     borderH     buttons"
			"description description buttons"
			"note        note        buttons"
			"reviewed    category    buttons";
	}
	.TransactionView .container:has(.note:empty) {
		grid-template-areas:
		"dateFrom    accountFrom buttons"
		"amountFrom  unitFrom    buttons"
		"arrow       arrow       buttons"
		"dateTo      accountTo   buttons"
		"amountTo    unitTo      buttons"
		"borderH     borderH     buttons"
		"description description buttons"
		"reviewed    category    buttons";
	}
	.TransactionView .arrowR {
		display: none;
	}
	.TransactionView .arrowD {
		display: block;
	}
	.TransactionView .description {
		width: 18.5rem;
	}
	.TransactionView .buttons {
		grid-template-columns: 1.5rem;
		grid-template-rows: repeat(4, 1.5rem);
		width: auto;
	}
}
@container (max-width: 26rem) {
	.TransactionView .container {
		grid-template-rows: 1.5rem 1.5rem calc(3.25rem / 4) 1.5rem 1.5rem 1px 1.5rem 1.5rem 1.5rem;
		grid-template-areas:
			"dateFrom    accountFrom"
			"amountFrom  unitFrom"
			"arrow       arrow"
			"dateTo      accountTo"
			"amountTo    unitTo"
			"borderH     borderH"
			"description description"
			"note        note"
			"reviewed    category"
			"buttons     buttons";
	}
	.TransactionView .container:has(.note:empty) {
		grid-template-areas:
		"dateFrom    accountFrom"
		"amountFrom  unitFrom"
		"arrow       arrow"
		"dateTo      accountTo"
		"amountTo    unitTo"
		"borderH     borderH"
		"description description"
		"reviewed    category"
		"buttons     buttons";
	}
.TransactionView .buttons {
		grid-template-columns: repeat(4, 1.5rem);
		grid-template-rows: 1.5rem;
		width: auto;
	}
	.TransactionView :is(.unitFrom, .unitTo, .accountFrom, .accountTo, .description, .category) {
		min-width: 0rem;
	}
}
