.TransactionList {
	display: flex;
	flex-direction: column;
}
.TransactionList > .sort {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.TransactionList > .list {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}
