<div>
	<div class="container">
		<div class="dateFrom"></div>
		<div class="amountFrom"></div>
		<div class="unitFrom"></div>
		<div class="accountFrom"></div>
		<div class="arrowR">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 52" preserveAspectRatio="none"stroke-width="1" vector-effect="non-scaling-stroke" stroke="currentColor" fill="transparent"><path d="M0.5,2L12.5,26L0.5,50"/></svg>
		</div>
		<div class="arrowD">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 13" preserveAspectRatio="none" stroke-width="1" vector-effect="non-scaling-stroke" stroke="currentColor" fill="transparent"><path d="M2,0.5L26,12.5L50,0.5"/></svg>
		</div>
		<div class="dateTo"></div>
		<div class="amountTo"></div>
		<div class="unitTo"></div>
		<div class="accountTo"></div>
		<div class="category"></div>
		<div class="description"></div>
		<div class="reviewed"></div>
		<div class="note"></div>
		<div class="borderH"></div>
		<div class="buttons"></div>
	</div>
</div>
